#photo{
    width: 300px;
    height: 239.04px;
    position:relative;
    bottom: 160px;
}

#frame-container{
    padding-bottom: 2%;
    
}

#photo-frame{
    width: 600px;
    height: 350px;
}


#list-style{
    list-style: none;
    position: relative;
    left: 322px;
    top:25px;
}